@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 31% 14%;
    --foreground: 240 67% 97%;
    --card: 240 31% 17%;
    --card-foreground: 240 67% 97%;
    --popover: 240 31% 14%;
    --popover-foreground: 240 67% 97%;
    --primary: 255 92% 76%;
    --primary-foreground: 255 100% 10%;
    --secondary: 240 31% 20%;
    --secondary-foreground: 240 67% 97%;
    --muted: 240 31% 20%;
    --muted-foreground: 240 20% 80%;
    --accent: 240 31% 22%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 31% 25%;
    --input: 240 31% 25%;
    --ring: 255 92% 76%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 240 31% 14%;
    --foreground: 240 67% 97%;
    --card: 240 31% 17%;
    --card-foreground: 240 67% 97%;
    --popover: 240 31% 14%;
    --popover-foreground: 240 67% 97%;
    --primary: 255 92% 76%;
    --primary-foreground: 255 100% 10%;
    --secondary: 240 31% 20%;
    --secondary-foreground: 240 67% 97%;
    --muted: 240 31% 20%;
    --muted-foreground: 240 20% 80%;
    --accent: 240 31% 22%;
    --accent-foreground: 240 67% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 31% 25%;
    --input: 240 31% 25%;
    --ring: 255 92% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
